<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/webapp.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
        </encoder>
    </appender>

    <logger name="org" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </root>
</configuration>